# RAW FILES
- Nom du fichier global stocké dans raw : type_source_datemax_heuremax.csv
- var name : id, time, lon, lat
- time en timestamp
- id en str
- index = id

In [4]:
import os
from glob import glob
import pandas as pd
import xarray as xr
import numpy as np

%matplotlib inline
from matplotlib import pyplot as plt
import common as co
from lib import download_dir, raw_dir

# SPOTTERS PB TIME

In [2]:
key = "carthe_lops"
path = glob(os.path.join(raw_dir, "L0_" + key + "*"))[0]
df = pd.read_csv(path, parse_dates=["time"], dtype={"id": "string"}).set_index("id")

In [3]:
df

,time,GpsQuality,lat,lon,BatteryStatus,GPS Confidence,GPS Fail Counter
id,,,,,,,
0-4698195,2023-10-06 09:41:55,3,-9.212197,104.529783,LOW,0,0
0-4696415,2023-10-06 09:32:45,3,-12.408210,124.196340,LOW,0,0
0-4698195,2023-10-06 09:32:02,3,-9.215147,104.532680,LOW,0,0
0-4698195,2023-10-06 09:21:51,3,-9.218194,104.535512,LOW,0,0
0-4698195,2023-10-06 09:17:18,3,-9.219418,104.536456,LOW,0,0
...,...,...,...,...,...,...,...
0-4388557,2023-03-28 10:09:17,3,43.133000,5.709307,GOOD,0,0
0-4351296,2023-03-28 10:08:25,3,43.133901,5.706475,GOOD,0,0
0-4351296,2023-03-28 10:05:17,3,43.137452,5.695918,GOOD,0,0
0-4388554,2023-03-28 10:04:31,3,43.138557,5.693257,GOOD,0,0
0-4388557,2023-03-28 10:04:27,3,43.138590,5.692785,GOOD,0,0

# SVP OGS ok et SHOM

In [5]:
imeis_dir = "/home/datawork-lops-osi/aponte/cswot/drifters/downloads/imeis"
imeis = glob(os.path.join(imeis_dir, "*"))
imeis = [im.split("/")[-1] for im in imeis]

In [6]:
len(imeis), len(co.imeis["shom"]), len(co.imeis["ogs"])

(57, 28, 10)

In [7]:
shom = co.load_imeis(co.imeis["shom"])

  loading 28 imeis
300534062472690
300534062475680
300534062472380
300534062470440
300534062479690
300534062472810
300534062476700
300534062479710
300534062474750
300534062471390
300534060117220
300534060011620
300534060211000
300534061170360
300534061175350
300534060017440
300534060211410
300534060218400
300534060316870
300534060015760
300534060315840
300534060216070
300534060114360
300534060012760
300534060112360
300534060116350
300534060113380
300534060017750

In [9]:
ogs = co.load_imeis(co.imeis["ogs"])

  loading 10 imeis
300534064106800
300534064104920
300534064104890
300534064103920
300534064103890
300534064109890
300534064109870
300534064108950
300534064107900
300534064107880

In [8]:
shom = shom.rename(columns={"latitude": "lat", "longitude": "lon"})
shom["time"] = pd.to_datetime(shom["time"])
tmaxs = str(shom.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
shom.to_csv(os.path.join(raw_dir, f"svp_shom_{tmaxs}.csv"))

In [10]:
ogs = ogs.rename(columns={"latitude": "lat", "longitude": "lon"})
ogs["time"] = pd.to_datetime(ogs["time"])
tmax = str(ogs.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
ogs.to_csv(os.path.join(raw_dir, f"svp_ogs_{tmax}.csv"))

In [13]:
sorted(co.imeis["shom"])

['300534060011620',
 '300534060012760',
 '300534060015760',
 '300534060017440',
 '300534060017750',
 '300534060112360',
 '300534060113380',
 '300534060114360',
 '300534060116350',
 '300534060117220',
 '300534060211000',
 '300534060211410',
 '300534060216070',
 '300534060218400',
 '300534060315840',
 '300534060316870',
 '300534060354800',
 '300534061170360',
 '300534061175350',
 '300534062470440',
 '300534062471390',
 '300534062472380',
 '300534062472690',
 '300534062472810',
 '300534062474750',
 '300534062475680',
 '300534062476700',
 '300534062479690',
 '300534062479710']

In [22]:
ids = shom.index.unique()

In [21]:
shom

,time,date_qc,lat,lon,position_qc,ATMS (hectopascal),TEMP (degree_Celsius),ATPT (hectopascal/hour),strain_gauge_count (%),BATTERY_24V (volt),IRIDIUM_SBTD (second),second_tech_parameter,gnss_ttff (min),Time_to_First_GPS (second),fourth_tech_parameter
id,,,,,,,,,,,,,,,
300534062472690,2023-04-10 10:50:00,0,40.5758,4.8116,0,NaN,25.18,NaN,0.0000,10.8,15.0,0.0,3.0,36.0,6.0
300534062472690,2023-04-10 10:55:00,0,40.5760,4.8116,0,NaN,25.05,NaN,0.0000,10.8,15.0,0.0,1.0,2.0,11.0
300534062472690,2023-04-10 11:00:00,0,40.5760,4.8118,0,NaN,24.90,NaN,0.0000,10.8,15.0,0.0,0.0,2.0,12.0
300534062472690,2023-04-10 11:05:00,0,40.5760,4.8118,0,NaN,24.76,NaN,0.0000,9.6,88.0,2.0,0.0,4.0,11.0
300534062472690,2023-04-10 11:10:00,0,40.5760,4.8118,0,NaN,24.67,NaN,0.0000,9.6,88.0,2.0,0.0,4.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300534060017750,2023-04-08 12:00:00,0,41.1188,4.4102,0,NaN,14.78,NaN,99.9998,10.4,NaN,NaN,3839.0,252.0,5.0
300534060017750,2023-04-08 13:00:00,0,41.1188,4.4102,0,NaN,14.86,NaN,99.9998,10.4,NaN,NaN,3899.0,252.0,5.0
300534060017750,2023-04-08 14:00:00,0,41.1188,4.4102,0,NaN,14.89,NaN,99.9998,10.4,NaN,NaN,3959.0,252.0,5.0
300534060017750,2023-04-08 15:00:00,0,41.1188,4.4102,0,NaN,14.98,NaN,99.9998,10.4,NaN,NaN,4019.0,252.0,5.0
300534060017750,2023-04-08 16:00:00,0,41.1188,4.4102,0,NaN,14.97,NaN,99.9998,10.4,NaN,NaN,4079.0,252.0,5.0

# SVP SCRIPPS ok

In [7]:
files = glob(os.path.join(download_dir, "svp_scripps", "*"))
DF = []
for f in files:
    df = (
        pd.read_csv(f)
        .rename(
            columns={
                "Platform-ID": "id",
                " Timestamp(UTC)": "time",
                " GPS-Latitude(deg)": "lat",
                " GPS-Longitude(deg)": "lon",
            }
        )
        .drop("Unnamed: 8", axis=1)
    )
    df["time"] = pd.to_datetime(df["time"])
    DF.append(df.dropna())
df = pd.concat(DF).set_index("id")
tmax = str(df.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
df.to_csv(os.path.join(raw_dir, f"svp_scripps_{tmax}.csv"))

# SVP BCG ok

In [17]:
bcg = (
    pd.read_csv(os.path.join(download_dir, "bcg.txt"))
    .rename(
        columns={
            "Platform-ID": "id",
            " Timestamp(UTC)": "time",
            " GPS-Latitude(deg)": "lat",
            " GPS-Longitude(deg)": "lon",
        }
    )
    .drop("Unnamed: 13", axis=1)
    .set_index("id")
)
bcg["time"] = pd.to_datetime(bcg["time"])
tmax = str(bcg.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
bcg.to_csv(os.path.join(raw_dir, f"svp_bcg_{tmax}.csv"))

# CARTHE ok

In [10]:
df = pd.read_csv(glob(os.path.join(download_dir, "carthe_cnr_*.csv"))[0])
df = df.rename(
    columns={
        "DeviceName": "id",
        "DeviceDateTime": "time",
        "Latitude": "lat",
        "Longitude": "lon",
    }
).drop(["CommId", "DataId"], axis=1)
df["time"] = pd.to_datetime(df["time"])
df = df.set_index("id")
tmax = str(df.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
df.to_csv(os.path.join(raw_dir, f"L0_carthe_cnr_{tmax}.csv"))

In [4]:
df = pd.read_csv(glob(os.path.join(download_dir, "carthe_lops_*.csv"))[0])
df = df.rename(
    columns={
        "DeviceName": "id",
        "DeviceDateTime": "time",
        "Latitude": "lat",
        "Longitude": "lon",
    }
).drop(["CommId", "DataId"], axis=1)
df["time"] = pd.to_datetime(df["time"])
df = df.set_index("id")
tmax = str(df.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
df.to_csv(os.path.join(raw_dir, f"L0_carthe_lops_{tmax}.csv"))

In [8]:
df.index.unique()

Index(['0-4367707', '0-4356456', '0-4388554', '0-4388557', '0-4367706',
       '0-4388581', '0-4356534', '0-4388605', '0-4388599', '0-4388608',
       '0-4388627', '0-4351902', '0-4388635', '0-4367310', '0-4351906',
       '0-4351945', '0-4388675', '0-4388620', '0-4367307', '0-4351296'],
      dtype='object', name='id')

In [6]:
df = pd.read_csv(glob(os.path.join(download_dir, "carthe_uwa_*.csv"))[0])
df = df.rename(
    columns={
        "DeviceName": "id",
        "DeviceDateTime": "time",
        "Latitude": "lat",
        "Longitude": "lon",
    }
).drop(["CommId", "DataId"], axis=1)
df["time"] = pd.to_datetime(df["time"])
df = df.set_index("id")
tmax = str(df.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
df.to_csv(os.path.join(raw_dir, f"L0_carthe_uwa_{tmax}.csv"))

# Code ogs ok

In [4]:
files = glob(os.path.join(download_dir, "code_ogs", "*"))
DF = []
for f in files:
    df = pd.read_csv(f)
    df["time"] = pd.to_datetime(df["time"])
    DF.append(df.dropna())
df = pd.concat(DF).set_index("id")
tmax = str(df.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
df.to_csv(os.path.join(raw_dir, f"code_ogs_{tmax}.csv"))

# eodyn

In [26]:
files = glob(os.path.join(download_dir, "eOdyn*raw*"))
print(files)
ds = xr.open_dataset(files[0])
df = ds.to_dataframe()
df["time"] = pd.to_datetime(df["time"])
df = df.rename(
    columns={"latitude": "lat", "longitude": "lon", "buoy_label": "id"}
).dropna()
df["id"] = df["id"].astype(int)
tmax = str(df.time.max()).replace("-", "").replace(":", "").replace(" ", "_")
df[["lon", "lat", "time", "id", "hs"]].set_index("time").to_csv(
    os.path.join(raw_dir, f"L0_melodi_eodyn_{tmax}.csv")
)

['/Users/mdemol/DATA_DRIFTERS/drifters/downloads/eOdyn_MELODI_SWOT_Med_raw_V1.1.nc']

In [27]:
df

             hs         u         v  id       lat      lon                time
index
1      2.457892  0.179882 -0.314700   2  41.86742  4.87777 2023-03-27 12:43:00
2      2.981180  0.091096 -0.231397   2  41.86592  4.87856 2023-03-27 12:55:00
3      3.460861  0.144667 -0.260848   2  41.86437  4.87971 2023-03-27 13:06:00
4      3.548076  0.048432 -0.129582   2  41.86423  4.87978 2023-03-27 13:08:00
5      4.027756  0.134607 -0.279359   2  41.86257  4.88085 2023-03-27 13:19:00
...         ...       ...       ...  ..       ...      ...                 ...
19891  1.053353  0.277914  0.057191  18  39.08674  3.85317 2023-05-24 17:37:00
19892  1.105937  0.240334  0.043173  18  39.08702  3.85517 2023-05-24 17:49:00
19893  1.132229  0.247543  0.052425  18  39.08719  3.85620 2023-05-24 17:55:00
19894  1.184814  0.225912  0.046257  18  39.08749  3.85808 2023-05-24 18:07:00
19895  1.184586  0.263491  0.038688  18  39.08772  3.86009 2023-05-24 18:18:00

[19880 rows x 7 columns]

In [28]:
df.id

index
1         2
2         2
3         2
4         2
5         2
         ..
19891    18
19892    18
19893    18
19894    18
19895    18
Name: id, Length: 19880, dtype: int64